@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #E5E5E5;
}
.main-container{
  flex-grow: 1;
}
.container {
  margin: 0 auto;
  width: 1200px;
  flex-grow: 1;
 }
.page-container {
    width: 1200px;
    background: #FFFFFF;
    margin: 0 auto;
 }
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list{
  margin: 0;
  padding: 0;
  width: 507px;
}
.navigation-user{
  max-width: 270px;
  margin-left: auto;
}
.navigation-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  list-style-type:none;
  }
.welcome{
  background-image: url("images/background-img/index-background.jpg");
  height: 485px;
  width: 1200px;
  position: relative;
  background-color: #000000;
}
.welcome-text{
  padding-top:5px;
  padding-bottom:25,23px ;
  position: absolute;
  margin-left: 30%;
}
.divider{
  position: absolute;
  bottom: 0;
}
.navigation-item{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}
.knob{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color:#756157 ;

}
.citi-small, .services-come{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}
.citi-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "up-hay up-staw up-staw"
    "heart-hay heart heart-staw"
    "down-hay down-hay down-staw";
}
.up-hay { grid-area: up-hay; }

.up-staw { grid-area: up-staw;
  width: 800px;
  height: 385px;
  background: url("images/photo-1.jpg");
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.heart-hay { grid-area: heart-hay;
  padding: 103px 85px;
  gap: 10px;
  left: 0%;
  right: 66.67%;
  top: 0%;
  bottom: 0%;
  background: #83b3d31f;
}

.down-hay {
  grid-area: down-hay;
  width: 800px;
  height: 385px;
  background: url("images/photo-2.jpg");
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;}

.down-staw{ grid-area: down-staw; }

.heart {
   grid-area: heart;
  padding: 103px 85px;
  gap: 10px;
  left: 33.33%;
  right: 33.33%;
  top: 0%;
  bottom: 0%;
  background: #83b3d333;
}

.heart-staw{ grid-area: heart-staw;
  padding: 103px 85px;

  right: 0%;
  left: 66.67%;
  top: 0%;
  bottom: 0%;
  background: #83b3d31f;
}
.basic{
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.undertone{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.citi-cooler, .services-expert{
font-weight: 400;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
}
.citi-checker-chief, .citi-chief{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.citi-chief{
  color: #000000;
}
.citi-checker-chief{
  color: #FFFFFF;

}
.down-staw,.up-hay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 103px 85px;

  width: 400px;
  height: 385px;
  background: #82B3D3;
}
.citi-checker-inferior,.citi-inferior{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  }
.citi-checker-inferior{
    color: #FFFFFF;
  }
.citi-inferior{
    color: #000000;
  }
  .choice{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 1200px;
  }
.offer{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 96px 304px;
gap: 10px;}

.subscription{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
width: 1200px;
}

.services-option{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  }
.explanation{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.interest{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;

}
.social{
display: flex;
flex-grow: 0;
}
.proposal{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;

}
.input{
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background-color:#756157 ;

}
.distribution{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;

}
.scout{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;

}
.strainer{
  display: flex;
  align-items: flex-start;
  padding: 0;
  width: 1060px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.signature{
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.footer-phone{
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-align: center;
text-transform: uppercase;
color: #000000;
text-decoration: none;

}
.hotel-sedona{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;

}
.hotel-page{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.infrastructure-type{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;

}
.infrastructure-filter, .kind-filter{
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;

}
.pressbutton-apply,.pressbutton-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}
.results{

/*flex-direction: column;*/
align-items: flex-end;
padding: 50px 70px 60px;
background: #FFFFFF;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.results-hotel{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  display: line;
  justify-content:baseline;
  align-items: center;
  padding: 0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.results-cheap{
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;

}
.pagination {

  color: #FFFFFF;
}

.pagination a {
  color: #FFFFFF;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pagination a.active {
  background-color:  #F2F2F2;
  color: #000000;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.hotel-card{
display:inline-block;
padding: 0;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
border: 1px solid #E6E6E6;
border-radius: 4px;
}
.hotel-name{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}
.hotel-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}
.card-name{
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;

}
.detailed, .hotel-favorites{
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}
.hotel-favorites{
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}
.stock{
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #333333;

}

.subscription{
  background-image: url("/images/background-img/subscribe.jpg");
  width: 1200px;
  height: 414.86px;
  position: relative;
  background-color: #000000;
  }
.catalog{
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}
.strainer{
  background-image: url("/images/background-img/filter.jpg");
  height: 412px;
  width: 1200px;
  position: relative;
  background-color: #000000;

}
.social-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
