@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}
.main-container{
  flex-grow: 1;
}
/* Шапка сайта*/
.main-header{
  background-color: #fff;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 1200px;
  flex-grow: 1;
  background-color: #FFFFFF;
 }
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
    width: 1200px;
    background: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0 0 15px #00000033;
 }
.navigation {
  display: flex;
  padding: 0 70px;
  align-items: center;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 632px;
  justify-content: flex-start;
  align-items: center;
  margin-top: -6px;
  list-style-type:none;
}
.navigation-user{
  max-width: 270px;
  margin-left: auto;
  justify-content:space-around;
}
.navigation-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  list-style-type:none;
  display: block;
  padding: 20px 16px 20px 16px;
  }
.navigation-item{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}
.knob {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color:#756157;
  border-radius: 4px;
  padding: 8px 34px;
}
/* Шапка сайта*/
/*welcome */
.welcome{
  background-image: url(../images/background-img/index-background.jpg);
  height: 485px;
  width: 1200px;
  position: relative;
  background-color: #000000;
}
.welcome-text{
  padding-top:51px;
  position: absolute;
  margin-left: 30%;
}
.divider{
  position: absolute;
  bottom: 0;
}
/*welcome */
.container-citi{
  display: block;
  margin: auto;
  padding: 69px;
  margin-bottom: 21px;
}
.citi-small, .services-come{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;

}
.citi-box{
  width: 1200px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  list-style-type:none;
  grid-template-areas:
    "up-hay up-staw up-staw"
    "heart-hay heart heart-staw"
    "down-hay down-hay down-staw";
}
.up-hay {
  grid-area: up-hay;

 }

.up-staw {
  grid-area: up-staw;
  width: 800px;
  height: 385px;
  background: url(../images/photo-1.jpg);
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.heart-hay {
  grid-area: heart-hay;
  padding: 103px 85px;
  gap: 10px;
  left: 0%;
  right: 66.67%;
  top: 0%;
  bottom: 0%;
  background: #83b3d31f;
}

.down-hay{
  grid-area: down-hay;
  width: 800px;
  height: 385px;
  background: url(../images/photo-2.jpg);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;}

.down-staw{
  grid-area: down-staw; }

.heart {
   grid-area: heart;
  padding: 103px 85px;
  gap: 10px;
  left: 33.33%;
  right: 33.33%;
  top: 0%;
  bottom: 0%;
  background: #83b3d333;
}

.heart-staw{
  grid-area: heart-staw;
  padding: 103px 85px;
  right: 0%;
  left: 66.67%;
  top: 0%;
  bottom: 0%;
  background: #83b3d31f;
}
.basic{
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.citi-checker{
  margin: 0;
  padding: 0;
}
.undertone,.citi-cooler, .services-expert{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.citi-checker-chief, .citi-chief{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.citi-chief{
  color: #000000;
}
.citi-checker-chief{
  color: #FFFFFF;

}
.down-staw,.up-hay{
  display: flex;
  justify-content: center;
  align-items: center;


  height: 385px;
  background: #82B3D3;
}
.citi-checker-inferior,.citi-inferior{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  }
.citi-checker-inferior{
    color: #FFFFFF;
  }
.citi-inferior{
    color: #000000;
  }
.choice{
  display: flex;
  flex-direction: row;
  align-items:center;
  padding: 0;
  width: 1200px;
}
.offer{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 96px 304px;
gap: 10px;
}

.subscription{
  padding: 0;
  margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
background-size: cover;
background-repeat: no-repeat;
background-image: url(../images/background-img/subscribe.jpg);
height: 414.86px;
background-color: #000000;
}
.choice{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type:none;
}
.services-choice{
  background-color: #83B3D31F;
  width: 230px;
  padding: 81px 85px;
}
.burger{
  background-color: #FFFFFF;
}
.services-figure{
  display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.services-option{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  }
.offer{
  display: block;
  width: 592px;
  min-height: 214px;
  margin: auto;
  padding: 96px 304px;
  text-align: center;
}
.explanation{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.interest{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;

}
.social{
display: flex;
flex-grow: 0;
}
.proposal{
  margin-bottom: 60px;

}
.knob-offer{
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
padding: 12px 50px;
background-color:#756157 ;

}
.subscription-container{
  text-align: center;
  padding: 96px 258px 104px;

}
.newsletter-form{
  display: flex;
}
.field{
  color: #00000099;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 14px 0 14px 20px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;

}
.newsletter-button{
  font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;
    border: none;
}
.distribution{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;

}
.scout{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;

}
.footer-phone{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

  }
/*catalog*/
.strainer{
  margin: 0 auto;
  margin-bottom: 50px;
  border: 0;
  background: linear-gradient(#82B3D3, #183f79);
  background-image: url(../images/background-img/filter.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 35px 70px 57px 70px;
  box-sizing: border-box;
}
.home-arrow{
  padding: 10px;
}
.hotel-sedona{
  margin: 0 auto;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 60px;
  line-height: 79px;
  color: #FFFFFF;

}
.breadcrumbs-main{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.breadcrumbs{
  display: flex;
  justify-content: center;
  align-items: baseline;

}
.signature{
font-weight: 700;
font-size: 20px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.hotel-page{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  align-items:center;
  padding: 0;
  gap: 8px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  text-decoration:none;
}

/*форма*/
.infrastructure{
  width: 1060px;
  display: flex;
  margin: 0 auto;
}
.filter-group{
  margin:  0;
  padding: 0;
  width: 150px;
  min-height: 157px;
  border: none;
}
.filter-group:first-child{
  margin-right: 70px;
}
.list-item{
  margin-bottom: 16px;
}
.kind{
  margin-right: 140px;
}
.list-group{
  list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
}
.price{
  width: 290px;
  margin-right: 70px;
}
.price-group{
  display:flex;
}
.sign{
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #0000004d;
  user-select: none;
}
.control{
  position: relative;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}

.infrastructure-type, .kind-type,.price-type{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 32px;

}
.infrastructure-filter, .kind-filter{
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
}
.control-input-check{
  width: 30px;
}
.control-input{
  padding: 13px 40px 12px 20px;
  width: 143px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border: none;
  box-sizing: border-box;

}
.start-price{
  border-radius: 4px 0 0 4px;
    margin-right: 2px;
}
.pressbutton-apply,
.pressbutton-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pressbutton-apply{
  display: block;
    width: 191px;
    font-family: inherit;
    background-color: #82B3D3;
    margin-top: 56px;
    margin-bottom: 32px;
}
.pressbutton-reset{
  width: 191px;
    display: block;
    background-color: transparent;
    font-family: inherit;
    border: none;
}
/*форма*/

.visually-hidden{
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;}

.results{
padding: 0 70px;
background: #FFFFFF;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.results-container{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 38px;
}
.results-title{

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-right: 200px;
}
.results-cheap{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  position: relative;
  margin-right: 70px;
  width: 292px;
  min-height: 49px;
  padding: 10px 0 10px 18px;
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  appearance: none;
}
.results-hotel{
  width: 160px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 8px;
  box-sizing: border-box;
}
.results-item{
  border: 2px solid #0000;
    border-radius: 4px;
}
.elem{
  display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 15px 14px;
}
.pagination {

  color: #FFFFFF;
}

.pagination a {
  color: #FFFFFF;
  float: left;
  padding: 8px 8px;
  text-decoration: none;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
}

.pagination a.active {
  background-color:  #F2F2F2;
  color: #000000;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.hotel-card{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 37px;
  border-bottom: 1px solid #e6e6e6;
  gap: 20px;
  box-sizing: border-box;
}
.hotel-name{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}
.hotel-price{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}
.card-name{
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;

}
.detailed, .hotel-favorites{
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}
.hotel-favorites{
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}
.stock{
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #333333;

}

.catalog{
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}
.main-footer{
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}
.container-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  min-height: 50px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  list-style-type:none;
    background-color: #FFFFFF;
}
.social-list{
  display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 142px;
}
